

# Ignore all files by default 
*

# Unignore all files are nedeed
!/backend/
!/backend/**

!/frontend/
!/frontend/**

# Ignore specific folders
*/__pychache__/
backend/.venv/
backend/tests/
backend/.*
